/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightgrey;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#readmore {
  display: none;
}

#welcomeuser {
  display: none;
}
body{
  background-image: url("https://cdn.glitch.com/6e857af3-1bf0-462b-ae0b-1ad8c5c5127b%2Fbackground.jpg?v=1584308835058");
 background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center; 
}
#mybackground{ background-color: #9c9587; 
}
.ui.segment{
  background-color: #d6d5d4;
}

.name{
  padding-top:20px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
  text-transform:capitalize;
}
.profilepic{
  padding-top:15px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px green;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}
.comment{
  text-align: left;
}
.date{
  text-align: center;
}

